*.jar
mounts/files/*
!mounts/files/.gitkeep
mounts/modules/*
!mounts/modules/.gitkeep
pgdata/
*.sql
.vscode
LabKey*.tar.gz
*.code-workspace
startup/lims_starter-with-startup.properties
startup/samplemanagement-with-startup.properties
mounts/
