<?xml version="1.0" encoding="UTF-8" ?>

<Configuration packages="org.labkey.api.util">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5.5p %5.5L --- [%15.15t] %-40.40logger{39} : %m%n%xEx</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>

        <!-- <Logger name="org.apache" level="INFO"/> -->

        <!-- <Logger name="org.labkey" level="INFO"/> -->

        <!--
            set to DEBUG for startup property messages set to TRACE for values
        -->
        <!-- <Logger name="org.labkey.api.module.ModuleLoader" level="TRACE"/> -->

        <!-- <Logger name="org.labkey.api.data.DbScope" level="WARN"/>
        <Logger name="org.labkey.api.data.SqlScriptExecutor" level="WARN"/>
        <Logger name="org.labkey.api.data.SqlScriptManager" level="WARN"/>
        <Logger name="org.labkey.api.data.SqlScriptRunner" level="WARN"/>
        <Logger name="org.labkey.api.module.ModuleLoader" level="ERROR"/>
        <Logger name="org.labkey.api.search.SearchService" level="ERROR"/>
        <Logger name="org.labkey.api.view.ViewServlet" level="ERROR"/>
        <Logger name="org.labkey.audit" level="ERROR"/>
        <Logger name="org.labkey.search" level="ERROR"/> -->

        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>
