<?xml version="1.0" encoding="UTF-8" ?>

<Configuration packages="org.labkey.api.util,org.labkey.embedded">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout pattern="%-5p %-24.24c{1} %d{ISO8601} %24.24t : %m%n" />

            <!-- <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true" /> -->

        </Console>

        <RollingFile name="ERRORS"
                     fileName="${sys:labkey.log.home}/labkey-errors.log"
                     append="true"
                     bufferedIO="false"
                     filePattern="${sys:labkey.log.home}/labkey-errors.log.%i">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- p=priority c=category d=datetime t=thread m=message n=newline   -->
            <PatternLayout>
                <Pattern>%-5p %-24.24c{1} %d{ISO8601} %24.24t : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min">
                <LabKeyDelete basePath="${sys:labkey.log.home}">
                </LabKeyDelete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ACTION_STATS"
                     fileName="${sys:labkey.log.home}/labkey-action-stats.tsv"
                     append="true"
                     bufferedIO="false"
                     filePattern="${sys:labkey.log.home}/labkey-action-stats.tsv.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min" />
        </RollingFile>

        <RollingFile name="QUERY_STATS"
                     fileName="${sys:labkey.log.home}/labkey-query-stats.tsv"
                     append="true"
                     bufferedIO="false"
                     filePattern="${sys:labkey.log.home}/labkey-query-stats.tsv.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min" />
        </RollingFile>

        <RollingFile name="LABKEY"
                     fileName="${sys:labkey.log.home}/labkey.log"
                     append="true"
                     bufferedIO="false"
                     filePattern="${sys:labkey.log.home}/labkey.log.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%-5p %-24.24c{1} %d{ISO8601} %24.24t : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <RollingFile name="LABKEY_AUDIT"
                     fileName="${sys:labkey.log.home}/labkey-audit.log"
                     append="true"
                     bufferedIO="false"
                     filePattern="${sys:labkey.log.home}/labkey-audit.log.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%-5p %-24.24c{1} %d{ISO8601} %24.24t : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <SessionAppender name="SessionAppender">
            <PatternLayout>
                <Pattern>%-5p %-24.24c{1} %d{ISO8601} %24.24t : %m%n</Pattern>
            </PatternLayout>
        </SessionAppender>

        <RollingFile name="LABKEYMemory"
                     fileName="${sys:labkey.log.home}/labkeyMemory.log"
                     append="true"
                     filePattern="${sys:labkey.log.home}/labkeyMemory.log.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss}%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000 KB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <RollingFile name="THREAD_DUMP"
                     fileName="${sys:labkey.log.home}/thread-dump.log"
                     append="true"
                     filePattern="${sys:labkey.log.home}/thread-dump.log.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <RollingFile name="CSP_REPORT"
                     fileName="${sys:labkey.log.home}/csp-report.log"
                     append="true"
                     filePattern="${sys:labkey.log.home}/csp-report.log.%i">
            <!-- p=priority c=category d=datetime t=thread m=message n=newline -->
            <PatternLayout>
                <Pattern>%-5p %-24.24c{1} %d{ISO8601} %24.24t : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" />
        </RollingFile>

        <RollingFile name="INDEXED_DOCUMENTS"
                     fileName="${sys:labkey.log.home}/labkey-indexed-documents.log"
                     append="true"
                     bufferedIO="false"
                     filePattern="${sys:labkey.log.home}/labkey-indexed-documents.log.%i">
            <!-- d=datetime m=message n=newline -->
            <PatternLayout>
                <Pattern>%d{ISO8601} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <!--
            Set all packages to INFO level (org.labkey, org.fhcrc, third-party dependencies) by default
            and send errors to the labkey-errors.log as well.
        -->
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LABKEY"/>
            <AppenderRef ref="ERRORS"/>
        </Root>

        <!-- category for server side script messages -->
        <Logger name="org.labkey.api.script.ScriptService.Console" level="info">
            <AppenderRef ref="SessionAppender"/>
        </Logger>

        <!-- category for Mule messages -->
        <Logger name="org.mule.MuleManager" level="info"/>

        <!--
            <Logger name="org.labkey.pipeline.mule.transformers" level="debug"/>
        -->

        <!-- category for jasper messages -->
        <Logger name="org.apache.jasper" level="warn"/>

        <!-- application classes -->
        <Logger name="org.fhcrc" level="info"/>

        <Logger name="org.labkey" level="${env:LOG_LEVEL_LABKEY_DEFAULT:-INFO}" />

        <!-- uncomment to enable 'DEBUG' level on external SAML libraries to troubleshoot.
        Note: you will also have to set dependency on slf4j lib in saml/build.gradle - uncomment 'slf4j' external libraries and build
        <Logger name="org.opensaml" level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LABKEY"/>
        </Logger>

        <Logger name="org.apache.xml.security" level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LABKEY"/>
        </Logger> -->

        <Logger name="mondrian." level="info" />

        <!--
            <Logger name="org.labkey.wiki" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey.api.action.SpringActionController" level="debug"/>
        -->

        <!-- only show errors from PipelineJob output -->
        <Logger name="org.labkey.api.pipeline.PipelineJob" level="error"/>

        <!-- don't need to log PDFBox errors (e.g., FlateFilter, PDCIDFontType2) -->
        <Logger name="org.apache.pdfbox" level="fatal"/>

        <!-- Suppress EHCache "maxElementsInMemory of 0" warnings, Issue 49593 -->
        <Logger name="net.sf.ehcache.config.CacheConfiguration" level="error"/>

        <!-- this is a very verbose logger for security/permissions checking -->
        <!--
            <Logger name="org.labkey.api.security.SecurityManager" level="debug"/>
        -->

        <!-- Add specific module packages or classes to get debug information about
         features you are working on. -->

        <!--
            <Logger name="org.labkey.api.data.Table" level="debug"/>
        -->

        <Logger name="org.labkey.api.data"/>

        <Logger name="org.labkey.api.dataiterator"/>

        <Logger name="org.labkey.docker">
            <level value="info"/>
        </Logger>

        <Logger name="org.labkey.rstudio" level="info"/>

        <!--
            <Logger name="org.labkey.api.cache" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey.api.data.TempTableTracker" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey.query" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey.pipeline.mule" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey.search" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey.search.model.LuceneSearchServiceImpl" level="debug"/>
        -->

        <Logger name="org.labkey.api.util.MemTracker" additivity="false" level="debug">
            <AppenderRef ref="LABKEYMemory"/>
        </Logger>

        <Logger name="org.labkey.api.search.SearchService$SearchCategory" additivity="false" level="info">
            <AppenderRef ref="INDEXED_DOCUMENTS"/>
        </Logger>

        <Logger name="org.labkey.api.util.DebugInfoDumper" level="debug">
            <AppenderRef ref="THREAD_DUMP"/>
        </Logger>

        <Logger name="org.labkey.core.admin.AdminController.ContentSecurityPolicyReportAction"  additivity="false" level="warn">
            <AppenderRef ref="CSP_REPORT" />
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <!--
            <Logger name="org.labkey.api.view.ViewServlet" additivity="false" level="debug"/>
        -->

        <!--
            <Logger name="org.labkey" level="debug">
                <AppenderRef ref="SESSION"/>
            </Logger>
         -->

        <Logger name="org.labkey.core.admin.ActionsTsvWriter" additivity="false" level="${env:LOG_LEVEL_LABKEY_DEFAULT:-INFO}">
            <AppenderRef ref="ACTION_STATS"/>
        </Logger>

        <Logger name="org.labkey.api.data.queryprofiler.QueryProfiler.QueryProfilerThread" additivity="false" level="${env:LOG_LEVEL_LABKEY_DEFAULT:-INFO}">
            <AppenderRef ref="QUERY_STATS"/>
        </Logger>

        <Logger name="org.labkey.audit.event" level="OFF">
            <AppenderRef ref="LABKEY_AUDIT"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <!--
          Other audit event types include, but are not limited to:
            AppPropsEvent
            AssayPublishAuditEvent
            AttachmentAuditEvent
            AuthenticationProviderConfiguration
            ClientAPIActions
            ContainerAuditEvent
            DatasetAuditEvent
            DomainAuditEvent
            ExperimentAuditEvent
            FileSystem
            FileSystemBatch
            GroupAuditEvent
            ListAuditEvent
            LoggedQuery
            MessageAuditEvent
            pipelineProtocolEvent
            QueryExportAuditEvent
            QueryUpdateAuditEvent
            SampleTypeAuditEvent
            SearchAuditEvent
            SelectQuery
         To enable logging of all events, set the level for the org.labkey.audit.event to
         something other than "OFF". To enable individual audit event logging, configure the
         individual stanza like the one shown below, where you prefix the audit event type
         with 'org.labkey.audit.event'. Then set the level to INFO and specify the appenders.
        -->
        <Logger name="org.labkey.audit.event.UserAuditEvent" additivity="false" level="OFF">
            <AppenderRef ref="LABKEY_AUDIT"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Logger name="NoOpLogger" level="OFF" additivity="false"/>
    </Loggers>
</Configuration>
